@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/* font-family: "Young Serif", serif; */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/*  font-family: "Outfit", sans-serif; */

/* - White: hsl(0, 0%, 100%)
- Rose White: hsl(330, 100%, 98%)
- Eggshell: hsl(30, 54%, 90%)
- Light Grey: hsl(30, 18%, 87%)
- Wenge Brown: hsl(30, 10%, 34%)
- Dark Charcoal: hsl(24, 5%, 18%) */


*{
    box-sizing: border-box;
}


/* body */
body{
    background-color: hsl(30, 54%, 90%);
    max-width: 1440px;
}

section{
    margin-bottom: 40px;
}

main{
    width: 60%;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
}

/* shared styles */
.description{
    font-family: "Outfit", sans-serif;
    color: hsl(30, 10%, 34%);
    text-align: justify;

    border: 5px solid orange;
}

.banner-image-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

#title h1{
    font-size: 48px;
    font-weight: 400;
    font-family: "Young Serif", serif;
    margin-bottom: 10px;
}

.time{
    background-color: hsl(330, 100%, 98%);
    padding: 10px;
    border-radius: 10px;
}

.time h3{
    color: hsl(30, 10%, 34%);
    font-size: 32px;
    font-family: "Outfit", sans-serif;
    padding: 0;
    margin: 0;
}

.time ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}